# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Docker
POSTGRES_CONTAINER=

# Airflow
AIRFLOW_UID=

# Kafka
KAFKA_BROKER=

# Spark
SPARK_MASTER=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=