# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Scraped data
data/raw/

# OS files
.DS_Store